#copyright {
    background-color: #45a1ff;
    color: #fff;
    padding: 12px;
    text-align: center;
    font-size: 17px;
    bottom: 0;
    position: fixed;
    width: 100%;
  }

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}